.li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    

    @media all and (min-width: 920px){

        flex-direction: row;
        
        
        
    }


    &__img{
        width: 160px;
        height: 245px;
        border-radius: 30px;

        @media all and (min-width: 920x){
           width: 210px;
           height: 295px;
        }
    }

    &__section{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        text-decoration: none;

        @media all and (min-width: 920px){
            font-size: 25px;
        }

        &--name{
            
            margin-bottom: 3px;
           
        }

        &--species{
            text-transform: capitalize;
        }

    }
}