.species{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: whitesmoke;
    gap: 8px;
    margin-top:10px;

        @media all and (min-width:920px){
            font-size: 20px;
        }

        &__select{
            width: 100px;

            @media all and (min-width:920px){
                width: 150px;
                font-size: 20px;
            }
        }
}