.form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 25px;
    
    

    &__label{
       height: 50px;
       width: 300px;
       font-size: 20px;
       
       
    }
    &__input{
        align-self: flex-start;
        height: 50px;
       width: 300px;
       align-content: center;
       border-radius: 10px;

       

    }
}