.house{

    color: whitesmoke;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 13px;



    @media all and (min-width: 920px){
        gap: 23px;
       
    }

        &__label{
            
             @media all and (min-width: 920px){
                font-size: 20px;
               
            }
        }


        &__select{
    
                width: 90px;

                @media all and (min-width: 920px){
                font-size: 20px;
                width: 180px;}
            }

 };
