.houselabel{
    color: whitesmoke;
    
    font-size: 20px;
    padding-left: 75px;
    align-self: center;

    @media all and (min-width: 724px){
        font-size: 30px;
        
       }
       
    
}

.houseselect{
    
    width: 90px;

    @media all and (min-width: 724px){
    font-size: 30px;
    width: 180px;
    }
}