.house{

    color: whitesmoke;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 13px;

        &__label{
            
            

                @media all and (min-width: 724px){
                font-size: 30px;
            }
        }


        &__select{
    
                width: 90px;

                @media all and (min-width: 724px){
                font-size: 30px;
                width: 180px;}
            }

 };
