.header{
    background-color: black;
    background-image: url(https://blog.richmond.edu/heroes/files/2016/04/635890934224265787884431994_new-harry-potter-story-halloween.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    height: 390px;


    
     @media all and (min-width: 920px){

        background-size: contain;

        
     }

     &__logo{
        display: none;
        @media all and (min-width: 920px){
            display:flex;
            width: 500px;}
        
        
    }
    
    
}