.header{
    background-color:  rgb(7, 1, 25);
    background-image: url(https://blog.richmond.edu/heroes/files/2016/04/635890934224265787884431994_new-harry-potter-story-halloween.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    


    
     @media all and (min-width: 920px){

        flex-direction: column;
        background-size: contain;
        height: 250px;


        
     }

     &__logo{
        display: none;
        @media all and (min-width: 920px){
            display: flex;
            
            position:absolute;
            right: 20px;
            top: 1px;
            
            width: 350px;}
        
        
    }
    
    
}